.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 150%;
}

header {
  padding: 1.5em 0;
}

header nav {
  text-align: center;
}

header nav ul {
  display: inline-block;
  list-style-type: none;
  padding-left: 0;
}

header nav ul li {
  display: inline;
}

nav a {
  display: inline-block;
  padding: .5em .75em;
  border-radius: 8px;
}