body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #1b1b1b;
  color: #fff;
}

@media screen and (max-width: 600px) {
  img {
    max-width: 100%;
    display: block;
  }
  
  header {
    background: #1c1c1c;
    padding: 20px;
  }
  
  .logo img {
    width: 120px;
  }
  
  nav {
    text-align: center;
    margin-top: 15px;
  }
  
  nav a {
    display: block;
    padding: 12px 0;
    color: #d49900;
    text-decoration: none;
    font-size: 20px;
  }
  
  nav a.active {
    background: #c68a00;
    color: black;
  }
  
  .search-bar {
    margin-top: 20px;
    display: flex;
  }
  
  .search-bar input {
    flex: 1;
    padding: 12px;
    font-size: 18px;
    border: none;
  }
  
  .search-bar button {
    width: 60px;
    background: #c68a00;
    color: black;
    border: 2px solid #c68a00;
    font-size: 20px;
  }
  
  .hero {
    background: url("hero.jpg") center/cover no-repeat;
    padding: 120px 20px;
    position: relative;
    color: white;
  }
  
  .hero-content {
    max-width: 550px;
  }
  
  .hero h1 {
    font-size: 55px;
    margin: 0 0 20px;
  }
  
  .hero p {
    font-size: 18px;
    line-height: 1.6;
  }
  
  .btn {
    display: inline-block;
    margin-top: 20px;
    background: #c68a00;
    padding: 18px 40px;
    font-size: 22px;
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  .about {
    background: #f4d486;
    color: black;
    padding: 40px 20px;
  }
  
  .about-text {
    max-width: 900px;
    margin: auto;
  }
  
  .about h2 {
    font-size: 45px;
    margin-bottom: 10px;
  }
  
  .about p {
    font-size: 18px;
    line-height: 1.6;
  }
  
  @media (min-width: 768px) {
  
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
  
    nav {
        display: flex;
        gap: 25px;
        margin-top: 0;
    }
  
    nav a {
        display: inline-block;
        padding: 10px 15px;
    }
  
    .search-bar {
        width: 300px;
        margin-top: 0;
    }
  
    .hero {
        padding: 180px 60px;
    }
  
    .hero h1 {
        font-size: 70px;
    }
  
    .about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
  
    .about-text {
        padding: 30px;
    }
  }
}

